
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://alliance-html.themerex.net/assets/img/favicon.ico">
    <!--Custom styles-->
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>
<div class="container">
    <img src="../media/IIITV.png" style="height:150px; margin-left: 42%; margin-top: 10%; width:150px; border-radius: 50%; opacity: 0.9;">
	<div class="d-flex justify-content-center h-50">
       
		<div class="card">
                <h2 style="margin-top: 15px;">Hostel Management</h2>
			<div class="card-header">
             
				<div class="d-flex justify-content-end social_icon">
					
				</div>
			</div>
			<div class="card-body">
                <form id="login_form" method="POST" action="/login/">
                    {% csrf_token %}
					<div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" name="username" class="form-control" placeholder="username">
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="password">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <font color="red"><li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></font>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                        
                        <div class="form-group text-center">
                            <input type="submit"  value="Login" class="btn login_btn">
                        </div>
                        
                    </div>
					
				</form>
			</div>
			
			
		</div>
	</div>
</div>
</body>
</html>