<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hostel Management - Registration</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="ThemeREX">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://alliance-html.themerex.net/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="http://alliance-html.themerex.net/assets/allcp/forms/css/forms.css">
    <link rel="shortcut icon" href="http://alliance-html.themerex.net/assets/img/favicon.ico">

</head>

<body class="forms-layouts">
<div id="main">
    <header class="navbar navbar-fixed-top bg-dark">
        
        <ul class="nav navbar-nav navbar-left">
            <li class="breadcrumb-icon" style="background-color:rgb(255,0,0)">
                <a href="/">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="/" style="font-size: 20px">Hostel Management</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-expand-lg navbar-right">
             <li class="dropdown dropdown-fuse">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span><name>{{ request.user.username }}</name> </span>
                </a>
                <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">
   
                    <li class="dropdown-header clearfix">
                        <a href="/logout/" class="btn btn-primary btn-sm btn-bordered">
                            <span class="fa fa-power-off pr5"></span> Logout
                        </a>
                    </li> 
                </ul>
            </li>
        </ul>
    </header>
        <header id="topbar" class="alt" style="margin-top: 75px;">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="breadcrumb-link">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-current-item">/ Registration</li>
                </ol>
            </div>
            
        </header>
        {% if registered %}
        <a href="/">Return to the homepage.</a><br />
         {% else %}
        <section id="content" class="table-layout animated fadeIn">
            <div class="chute chute-center">
                    <div class="tab-content mw900 center-block center-children">
                        <div class="allcp-form theme-primary tab-pane active mw600"  id="contact" role="tabpanel">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title">Registration Form</span>
                                    <span></br></br>Note: You can register a perticular student by entering his/her valid details.</span>
                                </div>

                                 <!-- Form  -->

                                 <form action='/register/' method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if user_form.errors or student_form.errors %}
                                            {% for field in user_form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in user_form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                            {% for field in student_form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in student_form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="panel-body pn">
                                                <!-- Username -->
                                            <div class="section">
                                                <label class="field prepend-icon"  for="{{ user_form.username.id_for_label }}">
                                                    <input type="text" maxlength="100" id="{{ user_form.username.id_for_label }}" name="{{ user_form.username.html_name }}" name="username" placeholder="Institute ID" class="gui-input" required>
                                                    
                                                    <label for="{{ user_form.username.id_for_label }}" class="field-icon">
                                                        <i class="fa fa-edit"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        
                                            <!-- First Name -->
                                            <div class="section">
                                                <label class="field prepend-icon"  for="{{ user_form.first_name.id_for_label }}">
                                                    <input type="text" maxlength="100" id="{{ user_form.first_name.id_for_label }}" name="{{ user_form.first_name.html_name }}" name="firstname" placeholder="First Name" class="gui-input" required>
                                                    <label for="{{ user_form.first_name.id_for_label }}" class="field-icon">
                                                            <i class="fa fa-user"></i>
                                                    </label>
                                                </label>
                                            </div>

                                            <!-- Last Name -->
                                            <div class="section">
                                                <label class="field prepend-icon"  for="{{ user_form.last_name.id_for_label }}">
                                                    <input type="text" maxlength="100" id="{{ user_form.last_name.id_for_label }}" name="{{ user_form.last_name.html_name }}" name="lastname" placeholder="Last Name" class="gui-input" required>
                                                    <label for="{{ user_form.last_name.id_for_label }}" class="field-icon">
                                                        <i class="fa fa-user"></i>
                                                    </label>
                                                </label>
                                            </div>

                                            <!-- Email Address -->
                                            <div class="section">
                                                <label class="field prepend-icon"  for="{{ user_form.email.id_for_label }}">
                                                    <input type="email" id="{{ user_form.email.id_for_label }}" name="{{ user_form.email.html_name }}" name="email" placeholder="Email" class="gui-input" required>
                                                    <label for="{{ user_form.email.id_for_label }}" class="field-icon">
                                                        <i class="fa fa-envelope"></i>
                                                    </label>
                                                </label>
                                            </div>
                                            <!-- Password -->
                                            <div class="section">
                                                <label class="field prepend-icon"  for="{{ user_form.password.id_for_label }}">
                                                    <input type="password" id="{{ user_form.password.id_for_label }}" name="{{ user_form.password.html_name }}" name="password" placeholder="Password" class="gui-input" required>
                                                    <label for="{{ user_form.password.id_for_label }}" class="field-icon">
                                                        <i class="fa fa-lock"></i>
                                                    </label>
                                                </label>
                                                <p class="help-block">Your password must contain at least 8 characters.</p>
                                            </div>
                                            <!-- Gender -->
                                            Gender:
                                                    {{ student_form.gender }}
                
                                            <div class="control-group">
                                                    <!-- Father Name -->
                                                    <label class="control-label" for="{{student_form.father_name.id_for_label}}"></label>
                                                    <div class="controls">
                                                    <input type="text" maxlength="100" id="{{student_form.father_name.id_for_label}}" name="father_name" placeholder="Father Name" class="gui-input" required>
                                                    
                                                    </div>
                                            </div>
                
                                            <div class="control-group">
                                                    <!-- Date of Birth -->
                                                    <label class="control-label" for="{{student_form.date_of_birth.id_for_label}}"></label>
                                                    <div class="controls">
                                                    <input type="date" id="{{student_form.date_of_birth.id_for_label}}" name="date_of_birth" placeholder="" class="gui-input" required>
                                                    </div>
                                            </div> 
                                            <div class="control-group">
                                                    <!-- Address -->
                                                    <label class="control-label" for="{{student_form.address.id_for_label}}"></label>
                                                    <div class="controls">
                                                    <input type="text" maxlength="100" id="{{student_form.address.id_for_label}}" name="address" placeholder="Address(House No, Building, Street)" class="gui-input" required>
                                                    
                                                    </div>
                                            </div>
                                            <div class="control-group">
                                                <!-- city -->
                                                <label class="control-label" for="{{student_form.city.id_for_label}}"></label>
                                                <div class="controls">
                                                <input type="text" maxlength="100" id="{{student_form.city.id_for_label}}" name="city" placeholder="City" class="gui-input" required>
                                                
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <!-- State -->
                                                <label class="control-label" for="{{student_form.state.id_for_label}}"></label>
                                                <div class="controls">
                                                <input type="text" maxlength="100" id="{{student_form.state.id_for_label}}" name="state" placeholder="State" class="gui-input" required>
                                                
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <!-- Pincode -->
                                                <label class="control-label" for="{{student_form.pincode.id_for_label}}"></label>
                                                <div class="controls">
                                                <input type="number" size="6" id="{{student_form.pincode.id_for_label}}" name="pincode" placeholder="Pincode" class="gui-input" required>
                                                
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                    <!-- Batch -->
                                                    <label class="control-label" for="{{student_form.join_year.id_for_label}}"></label>
                                                    <div class="controls">
                                                    <input type="number" id="{{student_form.join_year.id_for_label}}" name="join_year" placeholder="Batch" class="gui-input" required>
                                                    
                                                    </div>
                                            </div>
                                            <br>
                                            <!-- fee receipt -->
                                            Fee Receipt: {{ student_form.fee_receipt }}
                                            <br>
                                            <div class="control-group">
                                              {{ diff_form.as_p }}
                                            </div>   
                                        </div>
                       
                                        <div class="control-group text-center" >
                                            <!-- Button -->
                                            <div class="controls">
                                            <button class="btn btn-primary">Register</button>
             
                                            </div>
                                        </div>
                                   
                                </form>
                               
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </section>
</div>
<style>
    .allcp-form .panel.heading-border:before,
    .allcp-form .panel .heading-border:before {
        transition: all 0.7s ease;
    }
</style>


<script src="http://alliance-html.themerex.net/assets/js/jquery/jquery-1.11.3.min.js"></script>
<script src="http://alliance-html.themerex.net/assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>
<script src="http://alliance-html.themerex.net/assets/js/plugins/highcharts/highcharts.js"></script>

<script src="http://alliance-html.themerex.net/assets/allcp/forms/js/jquery-ui-monthpicker.min.js"></script>
<script src="http://alliance-html.themerex.net/assets/js/utility/utility.js"></script>
<script src="http://alliance-html.themerex.net/assets/js/demo/demo.js"></script>
<script src="http://alliance-html.themerex.net/assets/js/main.js"></script>
<script src="http://alliance-html.themerex.net/assets/js/demo/widgets_sidebar.js"></script>

</body>

</html>